## Task 4 - Satisfaction Analysis

Assuming that the satisfaction of a user is dependent on user engagement and experience, you’re expected in this section to analyze customer satisfaction in depth. The following tasks will guide you:

In [1]:
#import python library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import math
import seaborn as sns
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go  
from IPython.display import Image
from sklearn import preprocessing
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
from sklearn.preprocessing import StandardScaler, normalize

In [2]:
import os, sys
import warnings
warnings.filterwarnings('ignore')
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from Data_exploration import *
from Display_data import *
import Data_exploration

In [4]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
pd.set_option('max_column', None)
df = pd.read_csv('../data/user_experiance.csv')
df.head()

,Unnamed: 0,MSISDN/Number,Handset Type,Avg RTT DL (ms),Avg RTT UL (ms),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),Total_Avg_RTT,Total_Avg_Bearer_TP,Total_Avg_TCP
0,0,"33,664,962,239.00",Samsung Galaxy A5 Sm-A520F,42.00,5.00,"20,809,914.27","759,658.66",23.00,44.00,47.00,46.00,"21,569,572.94"
1,1,"33,681,854,413.00",Samsung Galaxy J5 (Sm-J530),65.00,5.00,"20,809,914.27","759,658.66",16.00,26.00,70.00,32.00,"21,569,572.94"
2,2,"33,760,627,129.00",Samsung Galaxy A8 (2018),109.80,17.66,"20,809,914.27","759,658.66",6.00,9.00,127.46,12.00,"21,569,572.94"
3,3,"33,750,343,200.00",undefined,109.80,17.66,"20,809,914.27","759,658.66",44.00,44.00,127.46,88.00,"21,569,572.94"
4,4,"33,699,795,932.00",Samsung Sm-G390F,109.80,17.66,"20,809,914.27","759,658.66",6.00,9.00,127.46,12.00,"21,569,572.94"

In this section, you’re expected to focus on network parameters like TCP retransmission, Round Trip Time (RTT), Throughput, and the customers’ device characteristics like the handset type to conduct a deep user experience analysis. The network parameters are all columns in the dataset.

### Based on the engagement analysis + the experience analysis you conducted above ,
#### Write a python program to assign:
- Engagement score to each user
- Consider the engagement score as the Euclidean distance between the user data point & the less engaged cluster (use the first clustering for this) (Euclidean Distance) experience score to each user. 
- Consider the experience score as the Euclidean distance between the user data point & the worst experience’s cluster.

####  Consider the average of both engagement & experience scores as  the satisfaction score & report the top 10 satisfied customer

#### Build a regression model of your choice to predict the satisfaction score of a customer.

#### Run a k-means (k=2) on the engagement & the experience score .

#### Aggregate the average satisfaction & experience score per cluster.

#### Export your final table containing all user id + engagement, experience & satisfaction scores in your local MySQL database. Report a screenshot of a select query output on the exported table.

#### Model deployment tracking- deploy the model and monitor your model. Here you can use Docker or other MlOps tools which can help you to track your model’s change.  Your model tracking report includes code version, start and end time, source, parameters, metrics (loss convergence) and artefacts or any output file regarding each specific run. (CSV file, screenshot)